In [51]:

import pandas as pd 
data_no_load = pd.read_csv("random.csv")
data_150g = pd.read_csv("random_150g.csv")
infinix_data = pd.read_csv("random_infinix_Smart_6.csv")
iphone_7_data = pd.read_csv("random_iphone7.csv")
redmi_data = pd.read_csv("random_Redmi9A.csv")
iphone14_data = pd.read_csv("random_iphone14.csv")
iphone_XS_max_data = pd.read_csv("random_iphoneXS_max.csv")
water_bottle = pd.read_csv("water_bottle.csv")
redmi_data2 = pd.read_csv("redmi9A_repeat.csv")
data_no_load

     No_Weight Weight: 0g
0        12488         0g
1        12348         0g
2        12408         0g
3        12425         0g
4        12460         0g
..         ...        ...
489      12631         0g
490      12616         0g
491      12703         0g
492      12678         0g
493      12603         0g

[494 rows x 2 columns]

In [50]:
data_no_load.shape

(494, 2)

In [26]:
# data_no_load_mean = data_no_load['No_Weight'].mean()
data_150g_mean = data_150g["150g"].mean()
infinix_data_mean = infinix_data['random_infinix_Smart_6'].mean()
redmi_data_mean = redmi_data['Redmi_9A'].mean()
redmi_data2_mean = redmi_data2['redmi9A_repeat'].mean()
iphone7_data_mean = iphone_7_data['Iphone7'].mean()
iphone14_data_mean = iphone14_data['random_iphone14'].mean()
iphone_XS_max_data_mean = iphone_XS_max_data['random_iphoneXS_max'].mean()
water_bottle_mean = water_bottle['water_bottle'].mean()

total_mean = [infinix_data_mean,redmi_data_mean,redmi_data2_mean,iphone7_data_mean,iphone_XS_max_data_mean,iphone14_data_mean,water_bottle_mean,data_150g_mean]

for i in range(8):
    print(total_mean[i])

9656.834008097167
8052.402834008097
8216.738866396761
8208.931174089068
9896.711382113821
8789.923076923076
8314.78947368421
-3899.3016194331985

In [37]:

infinix_data_std = infinix_data['random_infinix_Smart_6'].std()
redmi_data_std = redmi_data['Redmi_9A'].std()
redmi_data2_std = redmi_data2['redmi9A_repeat'].std()
iphone_XS_max_data_std= iphone_XS_max_data['random_iphoneXS_max'].std()
iphone7_data_std = iphone_7_data['Iphone7'].std()
water_bottle_std= water_bottle['water_bottle'].std()
iphone14_data_std = iphone14_data['random_iphone14'].std()
data_150g_std = data_150g["150g"].std()
# data_no_load_std = data_no_load['No_Weight'].std()

total_std = [infinix_data_std,redmi_data_std,redmi_data2_std,iphone_XS_max_data_std,iphone7_data_std,water_bottle_std,iphone14_data_std,data_150g_std]
for i in range(8):
    print(total_std[i])

111.35871934110433
87.96967615289135
174.97486147997716
110.87467209098878
102.48601331485897
76.44401707034255
118.20070150191057
72.22896303241704

In [38]:
conv_factor_infinix_data = infinix_data_mean/195
conv_factor_data_redmi = redmi_data_mean/194
conv_factor_data2_redmi = redmi_data2_mean/194
conv_factor_data_iphoneXS_max = iphone_XS_max_data_mean/208
conv_factor_data_iphone7 = iphone7_data_mean/194
conv_factor_data_water_bottle = water_bottle_mean/750
conv_factor_data_iphone14 = iphone14_data_mean/172
conv_factor_data150 = data_150g_mean/150

In [39]:
conv_factor_total= conv_factor_infinix_data + conv_factor_data_redmi + conv_factor_data2_redmi + conv_factor_data_iphoneXS_max+conv_factor_data_iphone7+conv_factor_data_water_bottle+conv_factor_data_iphone14 + conv_factor_data150
conv_factor_mean = conv_factor_total/8
print('Conv_factor_mean: ',conv_factor_mean)

Conv_factor_mean:  40.90446623305721

In [42]:
conv_factor_data = [conv_factor_infinix_data , conv_factor_data_redmi , conv_factor_data2_redmi , conv_factor_data_iphoneXS_max,conv_factor_data_iphone7,conv_factor_data_water_bottle,conv_factor_data_iphone14,conv_factor_data150]

pd_data= pd.DataFrame({'Conv_Factor':conv_factor_data})
conv_factor_std = pd_data['Conv_Factor'].std()
print("Conv_factor Standard Deviation: ",conv_factor_std)

Conv_factor Standard Deviation:  20.31159640254493

In [43]:
data = {'Mean':total_mean,'Standard Deviation':total_std,'Conversion Factor':conv_factor_data}
df = pd.DataFrame(data, index = ['Infinix','Redmi 9A','Redmi2 9A','IphoneXS Max','Iphone7','Water Bottle','Iphone14','150g_Metal'])
df

                     Mean  Standard Deviation  Conversion Factor
Infinix       9656.834008          111.358719          41.294374
Redmi 9A      8052.402834           87.969676          42.354324
Redmi2 9A     8216.738866          174.974861          42.314078
IphoneXS Max  8208.931174          110.874672          39.974949
Iphone7       9896.711382          102.486013          51.013976
Water Bottle  8789.923077           76.444017          -5.199069
Iphone14      8314.789474          118.200702          51.104204
150g_Metal   -3899.301619           72.228963          64.378893

In [45]:
df = df.drop(index='Water Bottle')

In [46]:
df

                     Mean  Standard Deviation  Conversion Factor
Infinix       9656.834008          111.358719          41.294374
Redmi 9A      8052.402834           87.969676          42.354324
Redmi2 9A     8216.738866          174.974861          42.314078
IphoneXS Max  8208.931174          110.874672          39.974949
Iphone7       9896.711382          102.486013          51.013976
Iphone14      8314.789474          118.200702          51.104204
150g_Metal   -3899.301619           72.228963          64.378893

In [49]:
(df['Standard Deviation']-df.Mean)/df.Mean

Infinix        -0.988468
Redmi 9A       -0.989075
Redmi2 9A      -0.978705
IphoneXS Max   -0.986493
Iphone7        -0.989644
Iphone14       -0.985784
150g_Metal     -1.018524
dtype: float64